# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Vim
*.sw*
.cache
tags

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Rope
.ropeproject/

# coveralls code coverage
.coverage

# sphinx docs
_build

# rpm build files
tmp/

# VS Code
.vscode

# PyCharm
.idea
