<!DOCTYPE html>
<head>
    <title>Test results of {{ plan.name }}</title>
    <style>
        body {
            background: #eee;
            padding: 3em;
            font-family: sans-serif;
            text-align: center;
        }

        div {
            display: inline-block;
            text-align: left;
            background: white;
            padding: 2em;
            border-radius: 1ex;
        }

        a {
            color: #29f;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }

        h1 {
            color: #aaa;
            margin: 0ex 0ex 1ex 7px;
        }

        h2 {
            color: #555;
            margin: -1ex 0ex 1ex 7px;
        }

        p.footer {
            margin: 30px 7px 0px 7px;
        }

        table {
            border-spacing: 7px;
        }

        td, th {
            padding: 0.7ex 1em;
        }

        td {
            background: #f8f8f8;
            border-radius: 0.5ex;
        }

        td.result {
            text-align: center;
            text-shadow: 0px 0px 5px #555;
            color: white;
        }

        td.pass {
            background: #0a0;
        }

        td.fail {
            background: #d30;
        }

        td.info {
            background: #58d;
        }

        td.warn {
            background: #fc5;
        }

        td.error {
            background: #b4d;
        }

        td.log {
            word-spacing: 1ex;
        }

        td.note {
            color: #c00;
        }
    </style>
</head>
<body>
<div>
<h1>{{ plan.name }}</h1>
{% if plan.summary %}<h2>{{ plan.summary }}</h2>{% endif %}
{% if results %}
<table>
    <thead>
        <tr>
            <th>Result</th>
            <th>Test</th>
            <th>Logs</th>
        </tr>
    </thead>
    {% for result in results %}
    <tr class="result {{ loop.cycle('odd', 'even') }}">
        <td class="result {{ result.result|e }}">{{ result.result|e }}</td>
        <td class="name">{{ result.name|e }}</td>
        <td class="log">
        {% for log in result.log %}
            <a href="{{ base_dir | urlencode }}/{{ log | urlencode }}">{{ log | basename }}</a>
        {% endfor %}
        </td>
        {% if result.note %}
        <td class="note">{{ result.note|e }}</td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
{% else %}
<b>No test results found.</b>
{% endif %}
<p class="footer">
    Links: <a href="{{ plan.my_run.workdir | urlencode }}/log.txt">full debug log</a>
</p>
</div>
</body>
</html>
