---
name: pre-commit

on:
  pull_request:
  push:
    branches: [master]

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v6
        with:
          python-version: '3.x'
      # ensure all dependencies are available to satisfy pylint pre-commit hook checks
      - run: sudo apt-get install -y libkrb5-dev python3-pytest
      - run: python -m venv --system-site-packages .venv
      - run: source .venv/bin/activate && pip install --upgrade pip setuptools pre-commit
      - run: source .venv/bin/activate && python -m pip install --upgrade '.[all]'  --upgrade-strategy eager
      - uses: actions/cache@v4
        with:
          path: ~/.cache/pre-commit
          key: pre-commit-3|${{ env.pythonLocation }}|${{ hashFiles('.pre-commit-config.yaml') }}
      - run: source .venv/bin/activate && pre-commit run --show-diff-on-failure --color=always --all-files
